<h1>英会話</h1>
<p>小学５〜６年生では、２０２０年までに英語が「外国語活動」から「教科」に
なります。つまり、「英語の音に親しむ」から「英語のスキルを育てる」に主
眼が置かれます。加速するグローバル化を視野に入れ、使える英語能力がます
ます求められているのです。</p>

<div class ="box">
    <p class="note">☆キッズクラス（０才～４才）</br>月３回、４０分レッスン（保護者同伴）, ¥6480</p>
</div>
<div class ="box">
    <p class="note">☆幼稚園クラス（年中～年長）<br>月３回、４０分レッスン、¥6480</p>
</div>
<div class ="box">
    <p class="note">☆小学生低学年（１年〜３年）<br>月３回、５０分レッスン、¥6480</br>月４回、５０分レッスン、¥8640</p>
</div>
<div class ="box">
    <p class="note">☆小学生高学年（４年〜６年）<br>月３回、５０分レッスン、¥6480</br>月４回、５０分レッスン、¥8640</p>
</div>
<div class ="box">
    <p class="note">☆中学生<br>月４回、６０分レッスン（定期テスト対策を含む）、¥10800</p>
</div>
<div class ="box">
    <p class="note">☆大人<br>月３回、５０分レッスン、¥6480</p>
</div>
<p>＊ 習熟度によりクラスを変更します。</br>
＊ 入会金　¥5400（ご兄弟、お友達と入会された場合は免除）</br>
＊ 教材費はクラスにより異なりますのでお問い合わせください。</p>


<h1>個別学習</h1>
<p>１クラス２名までの少人数指導。教材は各自に合ったものを使用します。</p>

<div clas ="box">
    <p class="note">☆小学生算数クラス（各クラス定員２名まで）</br>週１回、４０分、¥6480
    </p>
</div>
<div clas ="box">
    <p class="note">☆中学生クラス（各クラス定員２名まで）</br>週１回、６０分×１、¥10800</br>
週２回、６０分×２、¥21600</br>
週３回、６０分×３、¥32400</br>
    </p>
</div>
<div clas ="box">
    <p class="note">☆高校生</br>週１回、６０分、¥12960
    </p>
</div>

<p>＊ 入会金　¥5400（ご兄弟、お友達と入会された場合は免除）</p>