<div class ="map">
    <h2>教室の場所</h2>
    <p>〒537-0012</p>
    <p>大阪市東成区大今里３－１１－５</p>
    <P>今里ロータリーより北東に約３００m、西の口公園より東に200m入った南側</P>
    <p>駐車２台可</p>
    <div class="map">
        <%= image_tag 'map.jpg',:width =>'750', :height =>'450' %>
    </div>
</div>