
<div class = 'contents'>
    <div class = 'image_box'>
     <h2><%= image_tag "vike_teacher.jpg", :width =>'560' %></h2>
    <div class = "none"></div>
        <div class = 'experience'>
            <P>京都出身 　日本大学文理学部英文学科　卒業</P>
            <P>京セラ株式会社で受付・会長秘書業務を担当</P>
            <P>１９９９年から１６年間ECCジュニアホームティーチャーとして２歳～高校生向けのクラスを開講</P>
            <P>ECC外語学院で大丸・松坂屋百貨店従業員向け接客英会話講座</P>
            <P>２０１５年　小学校英語指導員資格取得</P>
            <P>２０１６年から1年間、イギリスのCanterbury Christ Church Universityで英語教授法を学ぶ</P>
            <p></p>
            <P><strong>三児の母としての子育ての経験を活かし、一人一人のお政を伸ばすサポートを心がけています</strong></P>
        </div>
    </div>
</div>